<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="basePageLink" value="https://darksouls3.wiki.fextralife.com/" />
    <add key="allItemsFile" value="../../../../all_items.json" />
    <add key="allWeaponsFile" value="../../../../all_weapons.json" />
    <add key="allArmorsFile" value="../../../../all_armors.json" />
    <add key="logFile" value="../../../../log.txt" />
  </appSettings>
</configuration>