USE [master]
GO
/****** Object:  Database [HangszerUzlet]    Script Date: 2022. 05. 03. 13:16:48 ******/
CREATE DATABASE [HangszerUzlet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HangszerUzlet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HangszerUzlet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HangszerUzlet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HangszerUzlet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HangszerUzlet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HangszerUzlet]
GO
/****** Object:  Table [dbo].[Hangszer]    Script Date: 2022. 05. 03. 13:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hangszer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](50) NULL,
	[Tipus] [nvarchar](50) NULL,
	[Ar] [int] NULL,
 CONSTRAINT [PK_Hangszer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangszerTipus]    Script Date: 2022. 05. 03. 13:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangszerTipus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangszerTipus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
